<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="home">
        <div id="menu">
          <div id='logo' class='col-6'>
            <div id='logoPrincipal'>
              GOAL
            </div>
            <div id='saldoGeral'>Total Investido <br />
            </div>
            <div>
              <p>Minhas Metas</p>
            </div>
          </div>

          <ul id='listaMenu'>
            <li>
              <a href="url">Home</a>
            </li>
            <li>
              <a href="url">Como funciona</a>
            </li>
            <li>
              <a href="url">Quem somos</a>
            </li>
            <li>
              <a href="url">Precisa de ajuda?</a>
            </li>
            <li>
              <a href="url">Conta</a>
            </li>
          </ul>
        </div>
        
        <div class='col-6'>

          <div id='boasVindas'>
            <h5 class='text-left'><b> Olá, usuario <br />
                Acompanhe suas metas:
              </b></h5>
          </div>
        </div>
        <div class='col-6'>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Descricao da Meta</th>
                <th scope="col">Valor Acumulado</th>
                <th scope="col">Meta</th>
                <th scope="col">Data de Vencimento</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cofre of cofres">
                <td>{{cofre.descricao_meta}}</td>
                <td>{{cofre.valor_acumulado}}</td>
                <td>{{cofre.valor_meta}}</td>
                <td>{{cofre.vencimento_meta}}</td>
                <td>
                  <button type="button" class="btn btn-warning btn-sm" (click)="editCofre(cofre)">Editar</button>
                  <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteCofre(cofre)">Deletar</button>
                </td>
              </tr>
            </tbody>
          </table>



        </div>
      </div>

    </div>

  </div>
</div>
<footer></footer>