<div class="container">
    <div class="row">
        <div class="login">
            <div id="menu">
                <ul>
                    <li>
                        <a href="url">Home</a>
                    </li>
                    <li>
                        <a href="url">Como funciona</a>
                    </li>
                    <li>
                        <a href="url">Quem somos</a>
                    </li>
                    <li>
                        <a href="url">Precisa de ajuda?</a>
                    </li>
                </ul>
            </div>

            <div id="marca">
                <h1>GOAL</h1>
                <p>
                    A plataforma de serviços financeiros de quem sonha e conquista.
                </p>
            </div>

            <div id="formulario">
                <div class="row">
                    <div class="col-4">

                        <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">

                            <div class="row">
                                <div class="col">
                                    <label class="col-sm-2 col-form-label"  for="usuario">Usuário</label>
                                    <input id="user" type="text"  formControlName="user">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="col-sm-2 col-form-label">Senha</label>
                                    <input id="senha" type="password" formControlName="senha">
                                </div>
                            </div>
  
                            <div class="row">
                                <div class="col">
                                    <button type="button" type="submit"  class="btn btn-warning btn-sm">Entrar</button>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-link" href="/">Esqueci minha senha</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a class="btn btn-link" href="/user">Criar conta</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>